@import "style";

main {  
    section {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 15px 15px 0 0;
        max-width: 600px !important;
        .title {
        background-color: #C72838;
        color: white;
        border-radius: 15px 15px 0 0;
        }
        #formsContact{
            form {

                div {
                    div {
                        img {
                            width: 25px;
                        }
                    }
                }
                button {
                    background-color: #C72838;
                    color: white;
                }
            }
        }
    }
}

