@import "style.css";
main {
  margin-left: 5%;
  margin-right: 5%;
}
main .whoAreWe .h2_titleAbout {
  text-transform: capitalize;
  text-align: center;
}
main .whoAreWe table tr td {
  border-radius: 30px;
  padding: 5px 5px 5px 5px;
  color: #000000;
}
main .whoAreWe table tr .bgBread {
  background-color: #663300;
}
main .whoAreWe table tr .bgMeat {
  background-color: #FFCC33;
}
main .whoAreWe table tr .bgKetchup {
  background-color: #CC0000;
}
main .whoAreWe table tr .bgSalad {
  background-color: #33CC00;
}
main .whereAreWe .h2_titleAbout {
  text-transform: capitalize;
  text-align: center;
}
main .whereAreWe table tbody .redHover .imgMap {
  margin: 10px;
}
main .whereAreWe table tbody .redHover .imgMap .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}
main .whereAreWe table tbody .redHover .imgMap .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}
main .whereAreWe table tbody .redHover:hover {
  background-color: #C62828;
}
main .whatWeDo .h2_titleAbout {
  text-transform: capitalize;
  text-align: center;
}
main .whatWeDo table tr .bgBread {
  background-color: #663300;
}
main .whatWeDo table tr .bgMeat {
  background-color: #FFCC33;
}
main .whatWeDo table tr .bgKetchup {
  background-color: #CC0000;
}
main .whatWeDo table tr .bgSalad {
  background-color: #33CC00;
}
main .whatWeDo table tr td {
  overflow: hidden;
  border-radius: 30px;
  padding: 5px 5px 5px 5px;
}
main .whatWeDo table tr td .h3_titleAbout {
  text-transform: uppercase;
  color: #000000;
}
main .whatWeDo table tr td .imgWhatWeDo {
  max-width: 160px;
  float: left;
}